nav {
  height: 120px;
  width: 100%;
  background-color: #B19CD8;
  padding: 1.5em;
  font-size: 24px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
}

nav .left {
  font-family: "Bungee", cursive;
  font-size: 50px;
}

nav .fa-solid.fa-angles-down {
  color: white;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

nav .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;

}