#tweet-text {
  background-color: transparent;
  border: none;
  border-bottom:  4px solid black;
  width: 100%;
  resize: none;
  align-items: center;
}

.error-message {
  color: black;
  font-family: "Bungee", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-line {
  border: 3px solid #B19CD8;
  display: none;
}

.counter {
font-family: "Bungee", sans-serif;
padding: 5px;
float: right;
}

.text-purple {
  color: #b39ddb;
}

.new-tweet {
  color: black;
}

.button {
  background-color: black;
  border: none;
  font-family: "Bungee", sans-serif;
  color: black;
  background: #B19CD8;
}

button:hover {
  color: white;
}